<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        test
      </div>

    </div>
    <!-- render map -->
    <%= render 'users/apps/map'%>
  </div>
</div>



